<div class="ui segment">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="ui form" >
        <div class="ui grid stackable">
            <div class="ten wide column">
                <div class="field">
                    <label for="term">Search movies *</label>
                    <input type="text" name="term" id="" formControlName="term" placeholder="At least three characters">
                </div>
            </div>
            <div class="four wide column">
                <div class="field">
                    <label for="year">Year</label>
                    <input type="number" name="year" id="" formControlName="year" placeholder="e.g. 2015">
                </div>
            </div>
            <div class="two wide column" style="margin-top: auto; margin-bottom: 0;">
                <button 
                    [disabled]="!searchForm.valid"
                    type="submit" 
                    class="ui button" 
                    style="width:100%;"
                >Search</button>
            </div>
        </div>
    </form>    
</div>
