<div class="ui segment">
    <div class="ui form">
        <div class="ui grid">
            <div class="ten wide column">
                <div class="field">
                    <label for="term">Search movies</label>
                    <input type="text" name="term" id="">
                </div>
            </div>
            <div class="four wide column">
                <div class="field">
                    <label for="year">Year</label>
                    <input type="number" name="year" id="">
                </div>
            </div>
            <div class="two wide column" style="margin-top: auto; margin-bottom: 0;">
                <button class="ui button" style="width:100%;">Search</button>
            </div>
        </div>
    </div>    
</div>
