<div style="display: flex; align-items: center;">
    <div style="display: inline-block; user-select: none; line-height: 100%;" #container (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <span 
            (click)="onRatingClick(i)"
            style="cursor: pointer;"
            *ngFor="let i of [1,2,3,4,5]"
            [id]="i"
            class="material-icons"
            [ngStyle]="{color: i <= (changeMode ? changeToRating : rating ) ? 'gold': 'lightgray'}"
        >grade</span>
    </div>
    <span style="margin-left: 5px;"><span *ngIf="changeMode">Change to: </span>{{(changeMode ? changeToRating : rating ) + '/' + max}}</span>
</div>


