<div class="movie-rating">
    <div 
        class="movie-rating-stars" 
        #container 
        (mouseenter)="onMouseEnter()" 
        (mouseleave)="onMouseLeave()">
        <span 
            (click)="onRatingClick(i)"
            *ngFor="let i of maxArray"
            [id]="i"
            class="material-icons"
            [ngStyle]="{color: i <= (changeMode ? changeToRating : rating ) ? 'gold': 'lightgray'}"
        >grade</span>
    </div>
    <span class="movie-rating-info">
        <span *ngIf="changeMode">Change to: </span>
        {{(changeMode ? changeToRating : rating ) + '/' + max}}
    </span>
</div>


