<div class="ui segment" style="">
    <div *ngIf="loading" class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>
    <div *ngIf="!loading">
      <div style="display: flex; margin-bottom: 10px; align-items: center;">
        <button (click)="onBack()" class="ui labeled icon button">
          <i class="angle left icon"></i>
          Back to movies
        </button>
        <h2 style="margin: 0 0 0 20px ; display: inline-block;">{{movieData.Title}}</h2>
      </div>
      <div class="ui stackable grid two columns">
          <div class="five wide column">
              <img style="width: 100%; height: auto;" [src]="movieData.Poster">
              <table class="ui definition table">
                <tbody>
                  <tr>
                    <td class="two wide column">Year</td>
                    <td>{{movieData.Year}}</td>
                  </tr>
                  <tr>
                    <td>Director</td>
                    <td>{{movieData.Director}}</td>
                  </tr>
                  <tr>
                    <td>Genre</td>
                    <td>{{movieData.Genre}}</td>
                  </tr>
                  <tr>
                    <td>Production</td>
                    <td>{{movieData.Production}}</td>
                  </tr>
                  <tr>
                    <td>Runtime</td>
                    <td>{{movieData.Runtime}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="eleven wide column">
              <div>{{movieData.Plot}}</div>
              <br>
              <h5>Your rating</h5>
              <app-movie-rating 
                (ratingChange)="handleRatingChange($event)"
                [rating]="movieData.rating"
              ></app-movie-rating>

              
              <div *ngIf="!movieData.review && !newReview">
                <br>
                <h5>You have not reviewed this movie yet</h5>
                <button (click)="onAddReview()" class="ui labeled icon button">
                    <i class="plus icon"></i>
                    Add Review
                </button>
              </div>
    
              <div *ngIf="movieData.review && !newReview">
                <br>
                <h5>Your review</h5>
                <h4>"{{movieData.review.title}}"</h4>
                <p>{{movieData.review.review}}</p>
                <button (click)="onEditReview()" class="ui button">Edit review</button>
              </div>
              
              <div *ngIf="newReview">
                <br>
                <h5>Edit your review</h5>
                <app-movie-review 
                  [review]="newReview" 
                  (review)="handleReviewChange($event)"
                  (cancel)="handleReviewCancel()"
                  >
                </app-movie-review>
              </div>

          </div>
      </div>
    </div>

</div>