<div class="ui segment" style="margin-bottom: 10px;">
    <h4>Your movies</h4>
    <div style="display: flex; align-items: center;" *ngIf="movies.length===0">
        <div class="placeholder" >
            ?
            <div class="position-number">1</div>
        </div>
        <span class="header" style="font-size: 1.1rem; margin-left: 1rem; display: inline-block;">What's your number 1?</span>
    </div>
    <div  *ngIf="movies.length>0" class="your-movies-container">
        <div *ngFor="let yourMovie of movies; let i = index" >
            <div 
                (click)="onYourMovieClick(yourMovie.imdbID)"    
                class="placeholder">
                <img 
                    style="    height: 160px; 
                    width: 100px; "
                    class="your-movie-poster"
                    [src]="yourMovie.Poster"
                >
                <div class="position-number">{{i+1}}</div>
            </div>
        </div>
    </div>
</div>