<div class="ui segment" style="margin-bottom: 10px;">
    <h4>Your movies</h4>
    <div class="your-movies-container" *ngIf="movies.length===0">
        <div class="placeholder" >
            ?
            <div class="position-number">1</div>
        </div>
        <p class="no-movie-message">What's your number 1?</p>
    </div>
    <div  *ngIf="movies.length>0" class="your-movies-container">
        <div *ngFor="let yourMovie of movies; let i = index" >
            <div 
                (click)="onYourMovieClick(yourMovie.imdbID)"    
                class="placeholder">
                <img 
                    class="your-movie-poster"
                    [src]="yourMovie.Poster !== 'N/A' ? yourMovie.Poster : noPosterImage"
                >
                <div class="position-number">{{i+1}}</div>
            </div>
        </div>
    </div>
</div>