<div style="display: flex; height: 100%; flex-grow: 1; flex-direction: column;">
    <app-search 
        [data]="searchData"
        (search)="handleSearch($event)"
    >
    </app-search>
    <div class="ui segment" style="height: 100%; flex-grow: 1;">
        <app-no-data-message
            *ngIf="noQuery"
            message="What movie you are looking for?"
            additional="Type some term or production year"
        ></app-no-data-message>
        <app-no-data-message
            *ngIf="movies.length === 0 && !noQuery"
            message="No results"
            additional="Try to type something else"
        ></app-no-data-message>
   
        <div *ngIf="loading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>

        <app-movie-grid  
            *ngIf="movies.length > 0"
            [movies]="movies"
        ></app-movie-grid>
    </div>
</div>