:host {
  height: 100%;
}

.movies {
  display: flex;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.page-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.page-info-results {
  margin-left: 1rem;
  flex-shrink: 1;
}

.page-info-navigation {
  flex-shrink: 0;
}

.page-info-current {
  margin-right: 10px;
  margin-left: 6.5px;
  font-size: 1.2rem;
}
